html {
  min-height: 100vh;
  overflow-y: scroll;
}

#root {
  margin-bottom: -20px;
  padding:0;
  min-height:100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  overflow: hidden;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
