.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #B0AB99;
  color: black;
  width: 100%;
  margin-top: 110px;
  font-family: 'Roboto';
}

.footer a {
  text-decoration: none;
  color: #FCF002;
}

@media screen and (max-width: 480px){
  .footer {
    font-size: 12px;
  }
}