nav {
  font-family: 'roboto';
  flex: 1;
  position: fixed;
  width: 100%;
  background-color:  #b0ab99c2;
  z-index: 1;
  top: 0;
  left: 0;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
}

nav img{
  height: 70px;
  width: 70px;
  margin-left: 5px;
}

nav img:hover{
  transform: scale(1.004);
}

a.logo{
  margin-left: 5px;
}

.link-greeting {
  font-size: 30px;
  margin-left: 40%;
}

#hamnav {
  width: 100%;
  background: #000;
  /* Optional */
  position: sticky;
  top: 0;
}

/* Hide Hamburger */
#hamnav label, #hamburger { display: none; }

/* Horizontal Menu Items */
#hamitems { display: flex; }
#hamitems a {
  width: 20%; /* 100% / 5 tabs = 20% */
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover {
  background: #401408;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  /* Show Hamburger Icon */
  #hamnav label { 
    display: inline-block; 
    color: white;
    background: #a02620;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* Break down menu items into vertical */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }

  /* Toggle Show/Hide Menu */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}
